Fileferry/fileferry-agent/cloudshell-deployment/step_functions_complete.json
{
  "Comment": "FileFerry Transfer State Machine - Complete workflow with all 8 Lambda functions",
  "StartAt": "ValidateInput",
  "States": {
    "ValidateInput": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-ValidateInput",
      "ResultPath": "$.validation",
      "Next": "AuthenticateSSO",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TransferFailed"
        }
      ]
    },
    "AuthenticateSSO": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-AuthSSO",
      "ResultPath": "$.ssoSession",
      "Next": "DownloadFromS3",
      "TimeoutSeconds": 30,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "TransferFailed"
        }
      ]
    },
    "DownloadFromS3": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-DownloadS3",
      "ResultPath": "$.download",
      "Next": "CheckFileSize",
      "TimeoutSeconds": 300,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Cleanup"
        }
      ]
    },
    "CheckFileSize": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.download.file_metadata.size",
          "NumericGreaterThan": 104857600,
          "Next": "ChunkedTransfer"
        }
      ],
      "Default": "TransferToFTP"
    },
    "TransferToFTP": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-TransferFTP",
      "ResultPath": "$.transfer",
      "Next": "UpdateServiceNow",
      "TimeoutSeconds": 600,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Cleanup"
        }
      ]
    },
    "ChunkedTransfer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-ChunkedTransfer",
      "ResultPath": "$.transfer",
      "Next": "UpdateServiceNow",
      "TimeoutSeconds": 1800,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Cleanup"
        }
      ]
    },
    "UpdateServiceNow": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-UpdateServiceNow",
      "ResultPath": "$.servicenow",
      "Next": "NotifyUser",
      "TimeoutSeconds": 60,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyUser"
        }
      ]
    },
    "NotifyUser": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-NotifyUser",
      "ResultPath": "$.notification",
      "Next": "Cleanup",
      "TimeoutSeconds": 30,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Cleanup"
        }
      ]
    },
    "Cleanup": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:637423332185:function:FileFerry-Cleanup",
      "ResultPath": "$.cleanup",
      "Next": "TransferComplete",
      "TimeoutSeconds": 60
    },
    "TransferComplete": {
      "Type": "Succeed"
    },
    "TransferFailed": {
      "Type": "Fail",
      "Error": "TransferError",
      "Cause": "File transfer workflow failed during validation or authentication"
    }
  }
}
